# Pandas

앞으로 가장 많이 사용하게 될 파이썬 라이브러리

2010년에 오픈소스로 공개

Pandas : 고수준의 자료구조 및 파이썬에서 빠르고 쉽게 사용 할 수 있는 데이터 분석 도구가 포함

Pandas와 함께 사용하는 다른 라이브러리...
- 산술 계산 도구 : Numpy, Scipy
- 분석 라이브러리 : Scikit-learn
- 시각화 도구 : matplotlib

Pandas vs Numpy

Numpy : 단일 산술 배열 데이터 특화

Pandas : 표 형식의 데이터 or 다양한 형태의 데이터를 다루는데 특화

# Pandas는 R을 모티브로해서 만든 Python Library

데이터 분석을 위해 수집, 전처리 등의 과정은 대부분 데이터프레임의 형태

데이터프레임은 행, 열로 이루어진 표를 의미

시리즈(Series)는 데이터프레임의 하위 자료형으로,

1개의 열이 시리즈이고, 이 시리즈들이 다수 모여서 데이터프레임을 형성한다고 이해

In [ ]:
import pandas as pd
from pandas import Series

# 1. 시리즈(Series)

Series : 객체를 담을 수 있는 1차원 배열스러운 자료구조

어떤 Numpy 자료형도 가능

In [ ]:
# 1-1. 딕셔너리로 만들기 (dict)
# 시리즈는 딕셔너리 구조와 비슷함
dic = {'a':1, 'b':2, 'c':3,'d':4}
series_dic = pd.Series(dic)

print(type(series_dic))
series_dic
# 딕셔너리의 key값이 인덱스(index)로, value값이 값으로'

<class 'pandas.core.series.Series'>

a    1
b    2
c    3
d    4
dtype: int64

In [ ]:
# 인덱스와 값은 아래처럼 확인
print(series_dic.index)
print(series_dic.values)

Index(['a', 'b', 'c', 'd'], dtype='object')
[1 2 3 4]

In [ ]:
# 직접 만들수도 있음

obj = pd.Series([4,5,-4,-5])
obj

print(obj.index)    # range(4)와 동일
print(obj.values)

# RangeIndex(start=0, stop=4, step=1)
# 샘플 데이터 프레임을 만들 때 따로 인덱스를 입력하지 않앗기 때문에 0부터 시작하는 인덱스가 부여 (start=0)
# 4개의 인덱스 (stop=4) / 1개씩 건너서 (step=1)

RangeIndex(start=0, stop=4, step=1)
[ 4  5 -4 -5]

In [ ]:
obj2 = pd.Series([4,5,-4,-5],index=['a','b','c','d'])
obj2

a    4
b    5
c   -4
d   -5
dtype: int64

In [ ]:
# 1-3. 튜플 만들기
tup_data = ('kimsy','2020-02-20','여',True)
series_data = pd.Series(tup_data, index=['name','birthday','gender','student'])
print(series_data)
# 튜플도 리스트와 차이 x 없음

name             kimsy
birthday    2020-02-20
gender               여
student           True
dtype: object

In [ ]:
# 1-4. 요소 선택 인덱싱
tup_data = ('kimsy','2020-02-20','여',True)
series_data = pd.Series(tup_data, index=['name','birthday','gender','student'])
print(series_data[0])
print(series_data['name'])

kimsy
kimsy

In [ ]:
# 여러 값을 인덱싱 할때는 위에처럼 값만 반환하지 말고
# 짝을 이루는 인덱스와 값을 모두 반환

# ********* 중요 
# 각각의 위치 or 인덱스 이름으로 인덱싱할때는 대괄호를 두개 씌우기 [[]]
print(series_data[[1,2]])
print()
print(series_data[['birthday','gender']])

birthday    2020-02-20
gender               여
dtype: object

birthday    2020-02-20
gender               여
dtype: object

In [ ]:
# : 로 인덱싱 할 때는 대괄호 하나만 필요
print(series_data[1:2])
print()
print(series_data['birthday':'gender'])
# 인덱스의 이름으로 사용하면 범위 끝이 포함됨

birthday    2020-02-20
dtype: object

birthday    2020-02-20
gender               여
dtype: object

In [ ]:
# Boolean배열을

In [ ]:
ticket = {'busan':30000, 'jeju':50000,'jeonju':40000,"daejeon":55000}
ticketS = pd.Series(ticket)
ticketS

busan      30000
jeju       50000
jeonju     40000
daejeon    55000
dtype: int64

In [ ]:
city = ['seoul','busan','jeju','jeonju']
a = pd.Series(ticket, index = city)
a

seoul         NaN
busan     30000.0
jeju      50000.0
jeonju    40000.0
dtype: float64

In [ ]:
# 누란된 것 찾을 때
pd.isnull(a)

seoul      True
busan     False
jeju      False
jeonju    False
dtype: bool

In [ ]:
a.isnull()

seoul      True
busan     False
jeju      False
jeonju    False
dtype: bool

In [ ]:
# 누락되지 않은 것 찾을 때 
pd.notnull(a)

seoul     False
busan      True
jeju       True
jeonju     True
dtype: bool

In [ ]:
a.notnull()

seoul     False
busan      True
jeju       True
jeonju     True
dtype: bool

In [ ]:
# index와 label로 자동정렬
final = ticketS + a
final

busan       60000.0
daejeon         NaN
jeju       100000.0
jeonju      80000.0
seoul           NaN
dtype: float64

In [ ]:
final.index.name = "City"
# final.vlaues.naem = "Price" - x
final.name = "TrainPrice"
# index와 객체 자체에만 이름 붙여주기 기능 
for aa in final.values:
  print(aa)

60000.0
nan
100000.0
80000.0
nan

# 2. 데이터프레임 (DafaFram)

데이터프레임은 시리즈가 여러개 합쳐진 자료형

표, 엑셀과 같은 스프레드시트 형식의 자료구조

다양한 컬럼이 있고, 각각의 컬럼 안에는 서로 다른 종류의 자료형 (숫자, 문자열, 논리, ...)이 담김

DataFrame : row(행), column(열)에 대한 index를 가지고 있음

In [ ]:
# 2-1. 딕셔너리로 만들기
dict_data = {'c0' : [1,2,3], 'c1':[4,5,6],'c2':[7,8,9],'c3':[10,11,12],'c4':[13,14,15]}
df = pd.DataFrame(dict_data)

# 1개의 열들이 1개의 시리즈, key값이 열 이름 
print(type(df))
print(df)

<class 'pandas.core.frame.DataFrame'>
   c0  c1  c2  c3  c4
0   1   4   7  10  13
1   2   5   8  11  14
2   3   6   9  12  15

In [ ]:
# 2-2. 리스트로 만들기 1
#   같은 길이의 리스트에 담긴 dict or numpy를 이용
data = {'time':['morning','afternoon','night'],
        'startHour':[6,13,18],
        'behavior':['getup','lunch','gohome']}
data1 = pd.DataFrame(data)
data1

        time  startHour behavior
0    morning          6    getup
1  afternoon         13    lunch
2      night         18   gohome

In [ ]:
# 원하는 순서로 columns을 지정하면, 그 순서대로 df 객체가 생성
pd.DataFrame(data,columns=['time','behavior','startHour'])

        time behavior  startHour
0    morning    getup          6
1  afternoon    lunch         13
2      night   gohome         18

In [ ]:
print(data1.index)

RangeIndex(start=0, stop=3, step=1)

In [ ]:
# 2-2. 리스트로 만들기
df = pd.DataFrame([[20,'여','00대'],[22,'여','ㅁㅁ대']],
                  index=["김만두","박만두"],
                  columns=["age","gender","school"])
print(df)
print(df.index)
print(df.columns)

     age gender school
김만두   20      여    00대
박만두   22      여    ㅁㅁ대
Index(['김만두', '박만두'], dtype='object')
Index(['age', 'gender', 'school'], dtype='object')

In [ ]:
# 2-3. 행,열 이름 변경 : 기본적인 방식
df.index=['student1','student2']
df.columns = ['나이','성별','학교']
df

# 인덱스(index)와 열(column) 이름의 수에 맞게 지정해야 함

          나이 성별   학교
student1  20  여  00대
student2  22  여  ㅁㅁ대

rename()함수 : 데이터 프레임 자료형에서 제공하는 함수

df.rename(columns = {변경 전 열이름 : 변경 후 열이름}, inplace=True)로 사용할 수 있고,

inplace=True 옵션을 지정해주면 data frame에 바로 적용됨

In [ ]:
# 2-4. 행,열 이름 변경 : rename()함수 

df = pd.DataFrame([[20,'여','00대'],[22,'여','ㅁㅁ대']],
                  index=["김만두","박만두"],
                  columns=["age","gender","school"])

df

     age gender school
김만두   20      여    00대
박만두   22      여    ㅁㅁ대

In [ ]:
# 열이름 변경
df.rename(columns={'age':'연령','gender':'성별','school':'소속'}, inplace=True)
df

     연령 성별   소속
김만두  20  여  00대
박만두  22  여  ㅁㅁ대

In [ ]:
# 행이름 변경 (columns=가 아닌 index=)
df.rename(index={'김만두':'김씨','박만두':'박씨'},inplace=True)
df

    연령 성별   소속
김씨  20  여  00대
박씨  22  여  ㅁㅁ대

# 행 삭제 : drop() 함수

In [ ]:
exam_data = {'math':[90,80,70],'korean':[98,23,65],
             'english':[55,75,88],'history':[23,66,53]}

df = pd.DataFrame(exam_data,index=['student1','student2','studnet3'])
df

          math  korean  english  history
student1    90      98       55       23
student2    80      23       75       66
studnet3    70      65       88       53

In [ ]:
# drop('행 or 열 이름'.axis = 0 or 1, inplace=True)
# 행 삭제시 axis=0 (기본값)
# 열 삭제시 axis=1 꼭 지정

df2 = df.copy()
# df2

# 행삭제
df2.drop('student2',inplace=True)
df2

          math  korean  english  history
student1    90      98       55       23
studnet3    70      65       88       53

In [ ]:
# 열삭제
# 2개 이상의 열을 drop하고 싶을시에는 대괄호[] 안에 명시
df3=df.copy()
# df3

df3.drop(['history','math'],axis=1,inplace=True)
df3

          korean  english
student1      98       55
student2      23       75
studnet3      65       88

# 데이터프레임 인덱싱 : loc / iloc 함수 

loc와 iloc는 가장 많이 사용되는 함수

데이터 전처리를 할 때 인덱싱이 항상 사용되기 때문 ..

loc는 이름으로, iloc는 숫자로 인덱싱

In [ ]:
city = pd.DataFrame({'Korea':['Seoul','Jeju','Busan'],'US':['LA',"Califonia","Boston"],
                     "UK":["London","Liverpool","Cambridge"],"China":["Shanghai","Beijing","Chingtao"]},
                    index=['A','B','C'])
city

   Korea         US         UK     China
A  Seoul         LA     London  Shanghai
B   Jeju  Califonia  Liverpool   Beijing
C  Busan     Boston  Cambridge  Chingtao

In [ ]:
first = city.loc['A'] # A행 출력 
print(first)
print()
second = city.iloc[1] # 인덱스[1] 행 출력
print(second)

Korea       Seoul
US             LA
UK         London
China    Shanghai
Name: A, dtype: object

Korea         Jeju
US       Califonia
UK       Liverpool
China      Beijing
Name: B, dtype: object

In [ ]:
city.ndim #차원(랭크)

2

In [ ]:
city.shape # (행,열)

(3, 4)

In [ ]:
len(city) # 행 개수

3

In [ ]:
city.size # data의 개수

12

In [ ]:
city.index

Index(['A', 'B', 'C'], dtype='object')

In [ ]:
print(city.keys()) # 키값
print(city.columns) # 열
print(city.values) # 값들
print(city.dtypes) # 자료형 
print()
print(city.dtypes['Korea']) # 특정해서 자료형 가져오기 
print()
print(city.info()) # 정보 요약

Index(['Korea', 'US', 'UK', 'China'], dtype='object')
Index(['Korea', 'US', 'UK', 'China'], dtype='object')
[['Seoul' 'LA' 'London' 'Shanghai']
 ['Jeju' 'Califonia' 'Liverpool' 'Beijing']
 ['Busan' 'Boston' 'Cambridge' 'Chingtao']]
Korea    object
US       object
UK       object
China    object
dtype: object

object

<class 'pandas.core.frame.DataFrame'>
Index: 3 entries, A to C
Data columns (total 4 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Korea   3 non-null      object
 1   US      3 non-null      object
 2   UK      3 non-null      object
 3   China   3 non-null      object
dtypes: object(4)
memory usage: 228.0+ bytes
None

In [ ]:
score = pd.DataFrame({'math':[90,32,54],'korean':[98,80,90],'english':[88,89,97],'history':[100,80,89]},
                     index=['kim','lee','park'])
score

      math  korean  english  history
kim     90      98       88      100
lee     32      80       89       80
park    54      90       97       89

In [ ]:
# 0번째 행 선택 
l = score.loc['kim']
p = score.iloc[0]

print(l)
print()
print(p)

math        90
korean      98
english     88
history    100
Name: kim, dtype: int64

math        90
korean      98
english     88
history    100
Name: kim, dtype: int64

In [ ]:
# 선택한 행은 이제 Series 자료형
print(type(l))
print(list(l))
print(tuple(l))
print(dict(l))
# 딕셔너리(dict)는 알아서 인덱스로 columns명이 부여됨

<class 'pandas.core.series.Series'>
[90, 98, 88, 100]
(90, 98, 88, 100)
{'math': 90, 'korean': 98, 'english': 88, 'history': 100}

In [ ]:
# 두 개 이상의 행을 선택할 때는 대괄호 !
# 각각 선택은 대괄호 두개 [[]]  / 범위 (:)로 선택은 한개 []
l2 = score.loc[['kim','lee']]
p2 = score.iloc[[0,1]]

print(l2)
print()
print(p2)

     math  korean  english  history
kim    90      98       88      100
lee    32      80       89       80

     math  korean  english  history
kim    90      98       88      100
lee    32      80       89       80

In [ ]:
l3 = score.loc['kim':'lee']
p3 = score.iloc[0:1]

print(l3)
print()
print(p3)

     math  korean  english  history
kim    90      98       88      100
lee    32      80       89       80

     math  korean  english  history
kim    90      98       88      100

In [ ]:
# 열 선택
#     열 선택은 따로 함수가 필요 X
# df.열이름 or df['열이름']으로 선택이 가능

# score = pd.DataFrame({'math':[90,32,54],'korean':[98,80,90],'english':[88,89,97],'history':[100,80,89]})

# df = pd.DataFrame(score,index=['kim','lee','park'])
# df

score = pd.DataFrame({'math':[90,32,54],'korean':[98,80,90],'english':[88,89,97],'history':[100,80,89]},
                     index=['kim','lee','park'])
score

      math  korean  english  history
kim     90      98       88      100
lee     32      80       89       80
park    54      90       97       89

In [ ]:
# 수학 열만 선택
math1 = score['math']
print(math1)
print(type(math1))

kim     90
lee     32
park    54
Name: math, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
# 영어 열만 선택
eng1 = score.english
print(eng1)
print(type(eng1))

kim     88
lee     89
park    97
Name: english, dtype: int64
<class 'pandas.core.series.Series'>

In [ ]:
math2 = score[['math']]
print(math2)
# score[['math']]는 한개의 열만 선택함
# 이중괄호를 사용
print(type(math2))

      math
kim     90
lee     32
park    54
<class 'pandas.core.frame.DataFrame'>

In [ ]:
# 범위 슬라이싱
exam_data = {'name':['Oh','Woo','Ah','Ha','Kim','Lee','Park'],
             'math':[90,60,67,65,34,88,70],
             'eng':[100,23,67,77,99,100,83],
             'kor':[77,80,67,88,90,100,55],
             'pt' : [90,45,77,73,44,75,78]}

df = pd.DataFrame(exam_data)
df

   name  math  eng  kor  pt
0    Oh    90  100   77  90
1   Woo    60   23   80  45
2    Ah    67   67   67  77
3    Ha    65   77   88  73
4   Kim    34   99   90  44
5   Lee    88  100  100  75
6  Park    70   83   55  78

In [ ]:
# 모든 행을 2행 간격으로 출력
print(df[::2])


df.iloc[::2]

   name  math  eng  kor  pt
0    Oh    90  100   77  90
2    Ah    67   67   67  77
4   Kim    34   99   90  44
6  Park    70   83   55  78

   name  math  eng  kor  pt
0    Oh    90  100   77  90
2    Ah    67   67   67  77
4   Kim    34   99   90  44
6  Park    70   83   55  78

In [ ]:
# 0행부터 5행까지 2행간격으로 출력
print(df[0:6:2])

df.iloc[0:6:2]

  name  math  eng  kor  pt
0   Oh    90  100   77  90
2   Ah    67   67   67  77
4  Kim    34   99   90  44

  name  math  eng  kor  pt
0   Oh    90  100   77  90
2   Ah    67   67   67  77
4  Kim    34   99   90  44

In [ ]:
# 역순 정렬
print(df[::-1])

df.iloc[::-1]

   name  math  eng  kor  pt
6  Park    70   83   55  78
5   Lee    88  100  100  75
4   Kim    34   99   90  44
3    Ha    65   77   88  73
2    Ah    67   67   67  77
1   Woo    60   23   80  45
0    Oh    90  100   77  90

   name  math  eng  kor  pt
6  Park    70   83   55  78
5   Lee    88  100  100  75
4   Kim    34   99   90  44
3    Ha    65   77   88  73
2    Ah    67   67   67  77
1   Woo    60   23   80  45
0    Oh    90  100   77  90

In [ ]:
# 요소 선택 
# set_index()함수 : 특정 열을 인덱스로 부여해주는 함수 

exam_data = {'name':['Oh','Woo','Ah','Ha','Kim','Lee','Park'],
             'math':[90,60,67,65,34,88,70],
             'eng':[100,23,67,77,99,100,83],
             'kor':[77,80,67,88,90,100,55],
             'pt' : [90,45,77,73,44,75,78]}

df = pd.DataFrame(exam_data)
df.set_index('name',inplace=True) #inplace를 해야 원본에 적용이 됨
df

      math  eng  kor  pt
name
Oh      90  100   77  90
Woo     60   23   80  45
Ah      67   67   67  77
Ha      65   77   88  73
Kim     34   99   90  44
Lee     88  100  100  75
Park    70   83   55  78

In [ ]:
# loc, iloc나 행/열 선택과정에서
# 두 개 이상의 행이나 두 개 이상의 열을 선택하려면 [[]]을 이용
# but 하나의 대괄호만 [] 쓴다면?
df.loc['Ha','kor']

88

In [ ]:
# 해당하는 요소하나를 가져오기
df.iloc[3,2]

88

In [ ]:
# Ah의 eng, kor 점수를 4가지 방법을 이용해 출력

# 1
print(df.loc['Ah',['eng','kor']])
print()

# 2
print(df.loc['Ah','eng':'kor'])
print()

# 3
print(df.iloc[2,[1,2]])
print()

# 4
print(df.iloc[2,1:3])

eng    67
kor    67
Name: Ah, dtype: int64

eng    67
kor    67
Name: Ah, dtype: int64

eng    67
kor    67
Name: Ah, dtype: int64

eng    67
kor    67
Name: Ah, dtype: int64

In [ ]:
# 2개 이상의 행과 열을 선택 
# Oh, Woo의 kor, pt 점수를 4가지 방법으로 출력

# 1
print(df.loc[['Oh','Woo'],['kor','pt']])
print()
# 2
print(df.loc['Oh':'Woo','kor':'pt'])
print()
# 3
print(df.iloc[[0,1],[2,3]])
print()
# 4
print(df.iloc[0:2,2:4])

      kor  pt
name
Oh     77  90
Woo    80  45

      kor  pt
name
Oh     77  90
Woo    80  45

      kor  pt
name
Oh     77  90
Woo    80  45

      kor  pt
name
Oh     77  90
Woo    80  45

In [ ]:
# 행, 열 추가 


# 열추가는 df['새로운 열이름'] = 값
# 열 이름이 중복불가능 ! 덮어씌우기가 됨

exam_data = {'name':['Oh','Woo','Ah','Ha','Kim','Lee','Park'],
             'math':[90,60,67,65,34,88,70],
             'eng':[100,23,67,77,99,100,83],
             'kor':[77,80,67,88,90,100,55],
             'pt' : [90,45,77,73,44,75,78]}

df = pd.DataFrame(exam_data)
df['music'] = 80
df

   name  math  eng  kor  pt  music
0    Oh    90  100   77  90     80
1   Woo    60   23   80  45     80
2    Ah    67   67   67  77     80
3    Ha    65   77   88  73     80
4   Kim    34   99   90  44     80
5   Lee    88  100  100  75     80
6  Park    70   83   55  78     80

In [ ]:
exam_data = {'name':['Oh','Woo','Ah','Ha','Kim','Lee','Park'],
             'math':[90,60,67,65,34,88,70],
             'eng':[100,23,67,77,99,100,83],
             'kor':[77,80,67,88,90,100,55],
             'pt' : [90,45,77,73,44,75,78]}

df = pd.DataFrame(exam_data)
df.loc[3] = 10 # 단일한 값을 넣었다면 => 모든 행이 동일한 값으로 채워짐 (기존 인덱스라 수정이 됨)
df.loc[4] = ['Wa',100,100,100,100] # 행 or 열 수의 맞게 요소를 추가 (기존 인덱스라 수정됨)
df.loc[7] = ['Choi',65,34,97,100] # 새로운 행 추가
df

   name  math  eng  kor   pt
0    Oh    90  100   77   90
1   Woo    60   23   80   45
2    Ah    67   67   67   77
3    10    10   10   10   10
4    Wa   100  100  100  100
5   Lee    88  100  100   75
6  Park    70   83   55   78
7  Choi    65   34   97  100

In [ ]:
# 요소 값 변경하기
exam_data = {'name':['Oh','Woo','Ah','Ha','Kim','Lee','Park'],
             'math':[90,60,67,65,34,88,70],
             'eng':[100,23,67,77,99,100,83],
             'kor':[77,80,67,88,90,100,55],
             'pt' : [90,45,77,73,44,75,78]}

df = pd.DataFrame(exam_data)

# 이름을 인덱스로 지정
df.set_index('name',inplace=True)
print(df)

      math  eng  kor  pt
name
Oh      90  100   77  90
Woo     60   23   80  45
Ah      67   67   67  77
Ha      65   77   88  73
Kim     34   99   90  44
Lee     88  100  100  75
Park    70   83   55  78

In [ ]:
# 4가지 방법을 이용 => Oh의 pt 점수를 50점 / 70 / 90 / 95

# 1
df.iloc[0][3]=50
print(df)
print()
# 2
df.iloc[0,3] = 70
print(df)
print()
# 3
df.loc['Oh']['pt']=90
print(df)
print()
# 4
df.loc['Oh','pt']=95
print(df)

      math  eng  kor  pt
name
Oh      90  100   77  50
Woo     60   23   80  45
Ah      67   67   67  77
Ha      65   77   88  73
Kim     34   99   90  44
Lee     88  100  100  75
Park    70   83   55  78

      math  eng  kor  pt
name
Oh      90  100   77  70
Woo     60   23   80  45
Ah      67   67   67  77
Ha      65   77   88  73
Kim     34   99   90  44
Lee     88  100  100  75
Park    70   83   55  78

      math  eng  kor  pt
name
Oh      90  100   77  90
Woo     60   23   80  45
Ah      67   67   67  77
Ha      65   77   88  73
Kim     34   99   90  44
Lee     88  100  100  75
Park    70   83   55  78

      math  eng  kor  pt
name
Oh      90  100   77  95
Woo     60   23   80  45
Ah      67   67   67  77
Ha      65   77   88  73
Kim     34   99   90  44
Lee     88  100  100  75
Park    70   83   55  78

In [ ]:
# 행과 열 바꾸기 : 전치행렬 transopse() 함수, .T

exam_data = {'name':['Oh','Woo','Ah','Ha','Kim','Lee','Park'],
             'math':[90,60,67,65,34,88,70],
             'eng':[100,23,67,77,99,100,83],
             'kor':[77,80,67,88,90,100,55],
             'pt' : [90,45,77,73,44,75,78]}

df = pd.DataFrame(exam_data)
print(df)
print()

df = df.transpose()
print(df)
print()

df = df.T
print(df)

# 전치 두번하면 원상태

   name  math  eng  kor  pt
0    Oh    90  100   77  90
1   Woo    60   23   80  45
2    Ah    67   67   67  77
3    Ha    65   77   88  73
4   Kim    34   99   90  44
5   Lee    88  100  100  75
6  Park    70   83   55  78

        0    1   2   3    4    5     6
name   Oh  Woo  Ah  Ha  Kim  Lee  Park
math   90   60  67  65   34   88    70
eng   100   23  67  77   99  100    83
kor    77   80  67  88   90  100    55
pt     90   45  77  73   44   75    78

   name math  eng  kor  pt
0    Oh   90  100   77  90
1   Woo   60   23   80  45
2    Ah   67   67   67  77
3    Ha   65   77   88  73
4   Kim   34   99   90  44
5   Lee   88  100  100  75
6  Park   70   83   55  78